@font-face {
  font-family: "rockstar";
  src: url(/font/HelveticaNowText-Light.ttf);
}
@font-face {
  font-family: "rockstarbold";
  src: url(/font/HelveticaNowText-Bold.ttf);
}
@font-face {
  font-family: "rockstar3";
  src: url(/font/HelveticaNowText-Medium.ttf);
}
body {
  margin: 0;
  font-family: "rockstar", Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 15px;
  background-color: black;

}
.newswire {
  font-size: 30px;
  color: white;
  font-family: "rockstar3";
  background-color: rgb(13, 13, 13);
  margin: 0;
  padding-top: 70px;
  padding-left: 110px;
  padding-bottom: 35px;
}
.view-more-div {
  display: flex;
  color: white;
  justify-content: center;
  background-color: rgb(13, 13, 13);
  padding-bottom: 60px;
}
.view-more-text {
  font-family: "rockstar";
  font-size: 18px;
  width: 90px;
  border: 5px solid rgb(246, 181, 51);
  border-width: 0px 0px 5px 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px 8px 5px 8px;
  transition: 0.25s;
  background-color: rgb(13, 13, 13);
}
.view-more-text:hover {
  color: black;
  background-color: rgb(246, 181, 51);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
